@import url('./fonts/fonts.css');

body {
  height: 100vh;
  transition: color 0.5s ease-in, background-color 0.5s ease-in;
}

#toggle {
  position: absolute;
  top: 0.25rem;
  right: 2rem;
  width: 50px;
  display: flex;
  padding: 5px;
  background-color: #1a202c;
  display: block;
  border-radius: 1000px;
  cursor: pointer;
  box-shadow: 0px 5px 20px -10px #000000;
  transition: background-color 0.2s ease-in;
  
  .toggle-inner {
    width: 20px;
    height: 15px;
    background-color: white;
    border-radius: 1000px;
    transition: margin-left 0.2s ease-in, background-color 0.2s ease-in;

    &.toggle-active {
      margin-left: 20px;
    }
  }
}



.dark-mode {
  color: white;
  background-color: #000!important;

  
  #toggle {
    background-color: white;

    .toggle-inner {
      background-color: #000;
    }
  }
  .frame {
    border: 1px solid #fff;
  }

}

.frame {
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  border: 1px solid #000;
}

.hero {
  font-family: 'Neue Montreal', sans-serif;
}

h1 {
  font-size: 4rem!important;
  font-weight: 100!important;
}

.menu-item {
  cursor: pointer;
  font-family: 'Neue Montreal', sans-serif;
  transition: color 0.5s ease-in;
}

.menu-item:hover {
  color: #7D8CA3; /* Change this to the desired text color */
}

ul {
  list-style-type: none; /* Remove the default list-style */
}

.menu-active {
  list-style-type: disc;
}

.info {
  font-family: 'Neue Montreal', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  transition: all 0.5s ease-in;
}

.projects {
  font-family: 'Neue Montreal', sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.project {
  margin: 1rem 0;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.contact {
  font-family: 'Neue Montreal', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.h7 {
  font-size: 0.75rem;
}

.scrollable {
  width: 300px; /* or any desired width */
  height: 200px; /* or any desired height */
  overflow-y: scroll;
  position: relative;
}

::-webkit-scrollbar {
  width: 5px;
  color: #363636;
}
