@import url('./fonts/fonts.css');

.frame {
  position: fixed;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  border: 1px solid #000;
}

.hero {
  font-family: 'Neue Montreal', sans-serif;
}

h1 {
  font-size: 4rem!important;
  font-weight: 100!important;
}

.menu-item {
  cursor: pointer;
  font-family: 'Neue Montreal', sans-serif;
  transition: color 1s ease-in;
}

.menu-item:hover {
  color: #363636; /* Change this to the desired text color */
}

ul {
  list-style-type: none; /* Remove the default list-style */
}

.menu-active {
  list-style-type: disc;
}